.slideshow-carousel .grid__item:not(.banner--mobile-bottom) .banner__content {
  position: absolute;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 749px) {
  .slideshow-carousel .grid__item:not(.banner--mobile-bottom) .banner__box {
    background: transparent;
    --color-foreground: 255, 255, 255;
    --color-button: 255, 255, 255;
    --color-button-text: 0, 0, 0;
  }
}