
{% comment %}
<!-- Cookie Consent BEGIN -->
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" async/>
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js" defer></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#ffffff",
      "text": "#000000"
    },
    "button": {
      "background": "#000000",
      "text": "#ffffff"
    }
  },
  theme: "classic",
  position: "bottom",
  layout: 'schutz',
  layouts: {
    'schutz': '<div class="cc-inner"><div><h2>OUR COOKIE POLICY</h2></div><div><p>We use cookies to give you the best online experience. By using our website you agree to our use of cookies for personalized ads and content in accordance with our <a href="https://schutz-shoes.com/pages/privacy-policy" target="_blank">Privacy Policy</a>. To change your choices, <a href="https://schutz-shoes.com/pages/privacy-policy" target="_blank">click here</a>.</p><button aria-label="deny cookies" class="cc-btn cc-deny">DECLINE</button><button aria-label="Accept cookie policy" class="cc-btn cc-dismiss">ACCEPT</button></div></div>',
  }
})});
</script>
<!-- Cookie Consent END -->
{% endcomment %}
