<script type="text/javascript">
    var _iub = _iub || [];
    _iub.csConfiguration = {
        "askConsentAtCookiePolicyUpdate": true,
        "enableGdpr": false,
        "enableUspr": true,
        "floatingPreferencesButtonCaptionColor": "#000000",
        "lang": "en",
        "perPurposeConsent": true,
        "siteId": 3097777,
        "showBannerForUS": true,
        "usprPurposes": "s,sh,adv,sd8",
        "cookiePolicyId": 80855370,
        "floatingPreferencesButtonCaption": true,
        "banner": {
            "acceptButtonColor": "#000000",
            "acceptButtonDisplay": true,
            "backgroundColor": "#FFFFFF",
            "brandBackgroundColor": "#FFFFFF",
            "brandTextColor": "#000000",
            "closeButtonDisplay": false,
            "customizeButtonCaptionColor": "#000000",
            "customizeButtonColor": "#FFFFFF",
            "customizeButtonDisplay": true,
            "explicitWithdrawal": true,
            "listPurposes": true,
            "linksColor": "#696969",
            "position": "float-bottom-center",
            "rejectButtonColor": "#000000",
            "rejectButtonDisplay": true,
            "textColor": "#000000",
            "zIndex": "9999999999",
            "content": "<div id=\"iubenda-cs-title\">OUR COOKIE POLICY</div>\n\n<p class=\"iub-p\">We and selected third parties use cookies or similar technologies for technical purposes and, with your consent, for functionality, experience, measurement and marketing (personalized ads) as specified in the <a style=\"color:#696969!important;\" href=\"https://www.iubenda.com/privacy-policy/80855370/cookie-policy?an=no&amp;s_ck=false&amp;newmarkup=yes\" class=\"iubenda-cs-cookie-policy-lnk\" target=\"_blank\" rel=\"noopener\">cookie policy</a>. Denying consent may make related features unavailable.</p>"
        }
    };
</script>
<!-- code for Shopify (1 of 2) -->
<script type="text/javascript" src="//cdn.iubenda.com/cs/gpp/stub.js"></script>
<script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>
<!-- code for Shopify (2 of 2) - Tracking API -->
<script type="text/javascript">
    window.Shopify.loadFeatures([{
        name: 'consent-tracking-api',
        version: '0.1'
    }], function(error) {
        if (error) {
            throw error;
        }
    });
</script>
