.sitemap {
    padding: 4rem;
    background-color: #f6f5f3;
    border-radius: 2rem;
    margin-top: 2rem;
}

.sitemap .sitemap-title {
    margin: 1rem 0;
}

.sitemap .sitemap-subtitle {
    margin: 0 0 1rem;
}

.sitemap hr {
    margin: 0;
}

.sitemap .sitemap-category {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: .5em;
    grid-column-gap: 1em;
}

.sitemap .sitemap-category .sitemap-category-name {
    font-size: 2rem;
    margin-bottom: 0;
}

.sitemap .sitemap-category-links {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

.sitemap .sitemap-category-links .sitemap-category-link {
    font-size: 1.8rem;
    text-decoration: none;
    color: #000;
    width: fit-content;
    margin-top: 1.5rem;
}

.sitemap .sitemap-category-links .sitemap-category-link:hover {
    text-decoration: underline;
}

@media screen and (max-width: 750px) {
    /* .sitemap {
        padding: 2rem;
    }
    .sitemap .sitemap-category {
        width: 100%;
        display: flex;
        flex-direction: column;
    } */

    .sitemap {
        padding: 5%;
    }

    .sitemap .sitemap-category {
        grid-template-columns: repeat(2, 1fr);
    }
}