
<div class="sch-page sch-page-terms-privacy page-width" id="termsPrivacy">
  {%- for block in section.blocks -%}
    <div class="accordion-header">
      <h1><button data-toggle="collapse" class="collapse in" href="#{{ block.id }}" aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}" aria-controls="terms">{{ block.settings.heading }}</button></h1>
    </div>

    <div id="{{ block.id }}" style="{% if forloop.first == false %}display: none;{% endif %}">
      <div class="schutz-nav-container">
        {{ block.settings.text }}
      </div>
    </div>
  {%- endfor -%}
</div>

<style>
#termsPrivacy {
  margin-bottom: 160px;
}
#termsPrivacy h1,#termsPrivacy h2 {
  line-height: 0;
}
#termsPrivacy h1 button, h2 button {
  font-family: "Swiss721BT-BoldCondensed";
  font-size: 23px;
  text-transform: uppercase;
  line-height: 1.39;
  letter-spacing: 0.8px;
  border: none;
  background: transparent;
}
#termsPrivacy h5 {
  font-size: 14px;
  font-family: "Swiss721BT-BoldCondensed";
  line-height: 1.71;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin-bottom: 0;
}
#termsPrivacy p, 
#termsPrivacy a, 
#termsPrivacy li {
  font-family: "Swiss721BT-RomanCondensed";
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.8px; 
}
#termsPrivacy p, 
#termsPrivacy ul {
  margin-bottom: 16px; 
  margin-top: 0;
}
#termsPrivacy ul {
  list-style: none;
}
#termsPrivacy li::before {
  content: "-";
  margin-right: 4px;
}
#termsPrivacy .accordion-header {
  text-align: center;
  border-top: solid 1px #d8d8d8;
  border-bottom: solid 1px #d8d8d8;
  background-color: #f9f9f9;
  margin-top: 80px;
}
#termsPrivacy button::after {
  content: url(https://cdn.shopify.com/s/files/1/0247/6975/files/accordion-plus.svg);
  margin-left: 16px;
}
#termsPrivacy button[aria-expanded="true"]::after {
  content: url(https://cdn.shopify.com/s/files/1/0247/6975/files/accordion-minus.svg);
}
</style>

<script>
  $('.accordion-header button').on('click', function() {
    var target = $(this).attr('href');
    if ($(this).attr('aria-expanded') === 'true') {
      $(this).attr('aria-expanded', false);
      $(target).slideToggle();
    } else {
      $(this).attr('aria-expanded', true);
      $(target).slideToggle();
    }
  });
</script>

{% schema %}
{
  "name": "Terms and privacy",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Block informations",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Talk about your brand",
          "label": "t:sections.rich-title.blocks.heading.settings.heading.label"
        },
        {
          "type": "textarea",
          "id": "text",
          "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>",
          "label": "t:sections.rich-title.blocks.text.settings.text.label"
        }
      ]
    }
  ]
}
{% endschema %}
