.stores-section {
  background-color: #f0f0f0;
}

.page-title {
  font-weight: 900;
  font-size: 24px;  
  text-transform: uppercase;
  text-align: left;
  padding-top: 5rem;
  padding-bottom: 1rem;
  margin-top: 0;
}

.store {
  display: flex;
  margin-bottom: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid #dae1e7;
}

.store:last-child {
  margin-bottom: 0;
  border: none;
}

.store .image-store {
  width: 65%;
  display: inline-block;
  background: no-repeat center center;
  background-size: cover;
}

.store-content {
  width: 35%;
  display: inline-block;
  margin-left: 30px;
  padding: 40px;
  border: 1px solid #d7d7d7;
  background-color: #fff;
}

.store-content h2 {
  text-transform: uppercase;
  font-size: 28px;
  margin-top: 0;
}

.store-content address {
  font-style: normal;
  line-height: 18px;
}

.store-content a {
  color: rgba(var(--color-foreground));
  text-decoration: none;
}

.store-content a:hover {
  text-decoration: underline;
}

.store-content p {
  margin-top: 5px;
}

.store-content iframe {
  margin-bottom: 30px;
  margin-top: 15px;
}

.opening-hours {
  font-family: 'Schutz CondensedBold', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 30px;
}

a.go-to-location {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding: 1rem 3.063rem;
  text-decoration: none;
  font-family: 'Swiss721BT-BoldCondensed', sans-serif;
  text-align: center;
  background-color: rgba(var(--color-foreground));
  color: #fff;
}

a.go-to-location:hover {
  text-decoration: none;
}

@media screen and (max-width: 991px) {
  .store-content {
    padding: 20px;
  }
}

@media screen and (max-width: 749px) {
  .store .image-store,
  .store-content {
    width: 100%;
    display: block;
  }

  .store-content {
    margin-left: 0;
  }

  .store .image-store {
    padding-top: 70%;
  }

  .store {
    margin-bottom: 30px;
    padding-bottom: 30px;
    flex-wrap: wrap;
  }

  .store-content iframe {
    display: none;
  }

  a.go-to-location {
    display: inline-block;
    margin-top: 20px;
  }
}