<style>
  #progress {
    position: fixed;
    top: {{ section.settings.top_spacing }}px;
    right: {{ section.settings.right_spacing }}%;
    height: 70px;
    width: 70px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 4;
  }

  #progress-value {
    display: block;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    color: #000000;
    transition: all 2s;
  }

  {% if section.settings.hide_mobile %}
    @media (max-width: 750px) {
      .progress-scroll {
        display: none;
      }
    }
  {% endif %}
</style>

<div class="progress-scroll">
  <div id="progress">
    <span id="progress-value">0%</span>
  </div>
</div>

<script>
  var count = 0;
  var intervalId = null;
  var amount = 1;

  let calcScrollValue = () => {
    if (intervalId) clearInterval(intervalId);

    let scrollProgress = document.getElementById('progress');
    let progressValue = document.getElementById('progress-value');
    let pos = document.documentElement.scrollTop;
    let calcHeight = document.documentElement.scrollHeight - document.documentElement.clientHeight;
    let scrollValue = Math.round((pos * 100) / calcHeight);

    intervalId = setInterval(function () {
      count += scrollValue > count ? amount : -amount;
      count = Math.max(0, Math.min(100, count));
      progressValue.innerText = `${count}%`;
      scrollProgress.style.background = `conic-gradient({{ section.settings.color }} ${count}%, #d7d7d7 ${count}%)`;
      if (Math.round(count) === Math.round(scrollValue)) {
        clearInterval(intervalId);
      }
    }, {{ section.settings.duration | times: 1000 }} / 60);

    if (pos > 100) {
      scrollProgress.style.display = 'grid';
    } else {
      scrollProgress.style.display = 'none';
    }

    scrollProgress.addEventListener('click', () => {
      document.documentElement.scrollTop = 0;
    });
  };
  window.onscroll = calcScrollValue;
  window.onload = calcScrollValue;
  new ResizeObserver(calcScrollValue).observe(document.querySelector('body'));
</script>

{% schema %}
{
  "name": "t:sections.scroll_progress_indicator.name",
  "settings": [
    {
      "id": "hide_mobile",
      "type": "checkbox",
      "label": "t:sections.scroll_progress_indicator.settings.hide_mobile.label",
      "default": false
    },
    {
      "id": "color",
      "type": "color",
      "label": "t:sections.scroll_progress_indicator.settings.color.label",
      "default": "#000000"
    },
    {
      "id": "duration",
      "label": "t:sections.scroll_progress_indicator.settings.duration.label",
      "type": "range",
      "min": 0,
      "max": 2,
      "step": 0.5,
      "default": 1
    },
    {
      "id": "right_spacing",
      "label": "t:sections.scroll_progress_indicator.settings.right_spacing.label",
      "type": "range",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "%",
      "default": 5
    },
    {
      "id": "top_spacing",
      "label": "t:sections.scroll_progress_indicator.settings.top_spacing.label",
      "type": "range",
      "min": 0,
      "max": 500,
      "step": 10,
      "unit": "px",
      "default": 130
    }
  ],
  "presets": [
    {
      "name": "t:sections.scroll_progress_indicator.name"
    }
  ]
}
{% endschema %}
