.main-product {
  margin-top: 2rem;
}

.main-product .breadcrumb {
  margin-bottom: 10px;
}

.product {
  margin: 0;
}

.product--no-media {
  max-width: 57rem;
  margin: 0 auto;
}

.product__media-wrapper {
  padding-left: 0;
}

.product__info-wrapper {
  padding-left: 0;
  padding-bottom: 0;
}

@media screen and (max-width: 749px) {
  .product-section {
    margin-top: 0;
  }
}

@media screen and (min-width: 750px) {
  .product__info-container--sticky {
    position: sticky;
    top: 3rem;
    z-index: 2;
  }

  .product__info-wrapper {
    padding-left: 5rem;
  }

  .product__media-container .slider-buttons {
    display: none;
  }
}

@media screen and (min-width: 990px) {
  .product:not(.product--no-media):not(.featured-product) .product__media-wrapper {
    max-width: 50%;
    width: 50%;
  }

  .product:not(.product--no-media):not(.featured-product) .product__info-wrapper {
    padding-left: 4rem;
    max-width: 50%;
    width: 36%;
  }
}

/* Dynamic checkout */

.shopify-payment-button__button {
  border-radius: 0;
  font-family: inherit;
  min-height: 4.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: transparent!important;
  position: relative;
  display: none;
}

.shopify-payment-button__button::after {
  content: "BUY NOW";
  position: absolute;
  left: 0;
  width: 100%;
  color: white;
}

.shopify-payment-button__button:disabled {
  display: none!important;
}

[value="Pre-order"],
[value="pre-order"] {
  background-color: black !important;
  color: white;
}

.-visible {
  display: block!important;
}

.shopify-payment-button__button [role="button"].focused,
.no-js .shopify-payment-button__button [role="button"]:focus {
  outline: .2rem solid rgba(var(--color-foreground),.5) !important;
  outline-offset: 0.3rem;
  box-shadow: 0 0 0 .1rem rgba(var(--color-button),var(--alpha-button-border)),0 0 0 .3rem rgb(var(--color-background)),0 0 .5rem .4rem rgba(var(--color-foreground),.3) !important;
}

.shopify-payment-button__button [role="button"]:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none !important;
}

.shopify-payment-button__button [role="button"]:focus-visible {
  outline: .2rem solid rgba(var(--color-foreground),.5) !important;
  box-shadow: 0 0 0 .1rem rgba(var(--color-button),var(--alpha-button-border)),0 0 0 .3rem rgb(var(--color-background)),0 0 .5rem .4rem rgba(var(--color-foreground),.3) !important;
}

.shopify-payment-button__button--unbranded {
  background-color: rgba(var(--color-button), var(--alpha-button-background));
  box-shadow: 0 0 0 0.1rem rgba(var(--color-button), var(--alpha-button-border));
  color: rgb(var(--color-button-text));
  font-size: 1.4rem;
  line-height: 1.2;
  letter-spacing: 0.07rem;
}

.shopify-payment-button__button--unbranded:hover,
.shopify-payment-button__button--unbranded:hover:not([disabled]) {
  background-color: rgba(var(--color-button), var(--alpha-button-background));
  box-shadow: 0 0 0 0.2rem rgba(var(--color-button), var(--alpha-button-border));
}

.shopify-payment-button__more-options {
  margin: 1.6rem 0 1rem;
  font-size: 1.2rem;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

.shopify-payment-button__button--hidden {
  display: none;
}

/* Product form */

.product-form {
  display: block;
}

/* Form Elements */
.product-form__input {
  flex: 0 0 100%;
  padding: 0;
  margin: 0 0 1.8rem 0;
  max-width: 37rem;
  border: none;
}

variant-radios,
variant-selects {
  display: block;
}

.product-form__input--dropdown {
  margin-bottom: 1.6rem;
}

.product-form__input .form__label {
  padding-left: 0;
}

.product-form__input[data-type="size"] {
  max-width: 28rem;
}

fieldset.product-form__input .form__label {
  margin-bottom: 0.2rem;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: .8px;
  text-transform: uppercase;
}

.product-form__input .item {
  display: inline-block;
  margin: 0.7rem 0.5rem 0.2rem 0;
  font-size: 1.4rem;
}

.product-form__input input[type='radio'] {
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
}

.product-form__input input[type='radio'] + label {
  border: 0.1rem solid rgba(var(--color-foreground), 0.2);
  border-radius: 0;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  line-height: 1;
  text-align: center;
  transition: border var(--duration-short) ease;
  cursor: pointer;
  min-width: 35px;
  min-height: 35px;
}

.product-form__input:not([data-type='size']) input[type='radio'] + label {
  padding: 1rem;
}

.product-form__input input[type='radio'] + label:hover {
  border: 0.1rem solid rgb(var(--color-foreground));
}

.product-form__input input[type='radio']:checked + label {
  background-color: rgb(var(--color-foreground));
  color: rgb(var(--color-background));
}

.product-form__input input[type='radio']:disabled + label, 
.product-form__input input[type='radio'].disabled + label {
  border-color: rgba(var(--color-foreground), 0.1);
  background-color: #EDEDED;
  color: #9b9b9b;
}

.product-form__input[data-type='color'] input[type='radio'].disabled + label {
  position: relative;
}

.product-form__input[data-type='color'] input[type='radio'].disabled + label::before {
  content: "\d7";
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-radius: 5px;
  color: #FF866F;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}

.product-form__input input[type='radio'].disabled:checked + label, 
.product-form__input input[type='radio']:disabled:checked + label {
  background-color: rgb(var(--color-foreground));
  color: rgb(var(--color-background));
}

.product-form__input input[type='radio']:focus-visible + label {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)),
    0 0 0 0.5rem rgba(var(--color-foreground), 0.55);
}

/* Fallback */
.product-form__input input[type='radio'].focused + label,
.no-js .shopify-payment-button__button [role="button"]:focus + label {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)),
    0 0 0 0.5rem rgba(var(--color-foreground), 0.55);
}

/* No outline when focus-visible is available in the browser */
.no-js .product-form__input input[type='radio']:focus:not(:focus-visible) + label {
  box-shadow: none;
}

.product-form__input .select {
  max-width: 25rem;
}

.product-form__submit {
  margin-bottom: 1rem;
  font-size: 16px;
  font-family: 'Schutz Condensed', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.no-js .product-form__submit.button--secondary {
  --color-button: var(--color-base-accent-1);
  --color-button-text: var(--color-base-solid-button-labels);
  --alpha-button-background: 1;
}

.product-form__submit[disabled] + .shopify-payment-button,
.shopify-payment-button {
  /* display: none; */
}

/* Overrides */
.shopify-payment-button__more-options {
  color: rgb(var(--color-foreground));
}

.shopify-payment-button__button {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

/* Product info */

.product__info-container > * + * {
  margin: 1.2rem 0;
}

.product__info-container > .m__0 {
  margin: 0;
}

.product__info-container .product__description {
  margin: 2.5rem 0;
}

.product__text {
  margin-bottom: 7px;
  font-size: 11px;
  color: #666;
}

a.product__text {
  display: block;
  text-decoration: none;
  color: rgba(var(--color-foreground), 0.75);
}

.product__text.caption-with-letter-spacing {
  text-transform: uppercase;
}

.product__title {
  word-break: break-word;
  margin-bottom: 1.5rem;
}

.product__title + .product__text.caption-with-letter-spacing {
  margin-top: -1.5rem;
}

.product__text.caption-with-letter-spacing + .product__title {
  margin-top: 0;
}

.product__accordion .accordion__content {
  padding: 0 1rem;
}

.product .price {
  align-items: flex-start;
}

.product .price--sold-out .price__badge-sold-out {
  background: transparent;
  color: rgb(var(--color-background));
  padding: 1rem 1.6rem 0 0.6rem;
  border: none;
}

.product .price--sold-out .price__badge-sale {
  display: none;
}

@media screen and (min-width: 750px) {
  .product__info-container .price--on-sale .price-item--regular {
    font-size: 1.6rem;
  }

  .product__info-container > *:first-child {
    margin-top: 0;
  }
}

.product__description-title {
  font-weight: 600;
}

.product--no-media .product__title,
.product--no-media .product__text,
.product--no-media noscript .product-form__input {
  text-align: center;
}

.product--no-media noscript .product-form__input,
.product--no-media .share-button {
  max-width: 100%;
}

.product--no-media fieldset.product-form__input,
.product--no-media .product-form__quantity,
.product--no-media .product-form__input--dropdown,
.product--no-media .share-button,
.product--no-media .product__view-details,
.product--no-media .store-availability-container,
.product--no-media .product-form {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.product--no-media .product-form > .form {
  max-width: 30rem;
  width: 100%;
}

.product--no-media .product-form__quantity,
.product--no-media .product-form__input--dropdown {
  flex-direction: column;
  max-width: 100%;
}

.product--no-media fieldset.product-form__input {
  flex-wrap: wrap;
  margin: 0 auto 1.2rem auto;
}

.product--no-media .product__info-container > modal-opener {
  display: block;
  text-align: center;
}

.product--no-media .product-popup-modal__button {
  padding-right: 0;
}

.product--no-media .price {
  justify-content: center;
}

.product--no-media .product__info-wrapper {
  padding-left: 0;
}

/* Product media */

@media screen and (max-width: 749px) {
  .product__media-list {
    margin-left: -2.5rem;
    padding-bottom: 2rem;
    margin-bottom: 3rem;
    width: calc(100% + 4rem);
  }

  .product__media-wrapper slider-component {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }

  .slider.slider--mobile.product__media-list {
    padding-bottom: 0;
    margin-bottom: 0.5rem;
  }

  .slider.product__media-list::-webkit-scrollbar {
    height: 0.2rem;
    width: 0.2rem;
  }

  .product__media-list::-webkit-scrollbar-thumb {
    background-color: rgb(var(--color-foreground));
  }

  .product__media-list::-webkit-scrollbar-track {
    background-color: rgba(var(--color-foreground), 0.2);
  }

  .product__media-list .product__media-item {
    width: calc(100% - 3rem);
  }

  .slider.product__media-list .product__media-item:first-of-type {
    padding-left: 1.5rem;
  }
}

@media screen and (min-width: 750px) {
  .product__media-item:first-child {
    width: 100%;
  }

  .product-media-modal__content > .product__media-item--variant.product__media-item--variant {
    display: none;
  }

  .product-media-modal__content > .product__media-item--variant:first-child {
    display: block;
  }

  .product-form {
    max-width: 38rem;
  }
}

.product__media-item--variant {
  display: none;
}

.product__media-item--variant:first-child {
  display: block;
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .product__media-list .product__media-item:first-child {
    padding-left: 0;
  }

  .product__media-list .product__media-item {
    padding: 0 0 0.5rem;
    width: 100%;
  }
}

.product__media-icon .icon {
  width: 1.2rem;
  height: 1.4rem;
}

.product__media-icon {
  background-color: rgb(var(--color-background));
  border-radius: 50%;
  border: 0.1rem solid rgba(var(--color-foreground), 0.1);
  color: rgb(var(--color-foreground));
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;
  z-index: 1;
  transition: color var(--duration-short) ease,
    opacity var(--duration-short) ease;
}

.product__media-video .product__media-icon {
  opacity: 1;
}

.product__modal-opener--image .product__media-toggle:hover {
  cursor: zoom-in;
}

.product__modal-opener:hover .product__media-icon {
  border: 0.1rem solid rgba(var(--color-foreground), 0.1);
}

@media screen and (min-width: 750px) {
  .grid__item.product__media-item--full {
    width: 100%;
  }
}

@media screen and (min-width: 990px) {
  .product__modal-opener .product__media-icon {
    opacity: 0;
  }

  .product__modal-opener:hover .product__media-icon,
  .product__modal-opener:focus .product__media-icon {
    opacity: 1;
  }
}

.product__media-item > * {
  display: block;
  position: relative;
}

.product__media-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: block;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
}

.product-media-modal {
  background-color: rgb(var(--color-background));
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}

.product-media-modal[open] {
  visibility: visible;
  opacity: 1;
  z-index: 101;
}

.product-media-modal__dialog {
  display: flex;
  align-items: center;
  height: 100vh;
}

.product-media-modal__content {
  max-height: 100vh;
  width: 100%;
  overflow: auto;
}

.product-media-modal__content > img,
.product__media-list .deferred-media {
  width: 100%;
}

@media screen and (min-width: 750px) {
  .product-media-modal__content {
    padding-bottom: 2rem;
  }

  .product-media-modal__content > *:not(.active) {
    display: block;
  }

  .product__modal-opener:not(.product__modal-opener--image) {
    display: none;
  }

  .product__media-list .deferred-media {
    display: block;
  }
}

.product-media-modal__content > * {
  display: block;
  height: auto;
  margin: auto;
  border: 0.1rem solid rgba(var(--color-foreground), 0.04);
}

.product-media-modal__content .media {
  background: none;
}

.product-media-modal__model {
  width: 100%;
}

.product-media-modal__toggle {
  background-color: rgb(var(--color-background));
  border: 0.1rem solid rgba(var(--color-foreground), 0.1);
  border-radius: 50%;
  color: rgba(var(--color-foreground), 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  right: 2rem;
  padding: 1.2rem;
  position: fixed;
  z-index: 2;
  top: 2rem;
  width: 4rem;
}

.product-media-modal__content .deferred-media {
  width: 100%;
}

@media screen and (min-width: 750px) {
  .product-media-modal__content {
    padding: 2rem 11rem;
  }

  .product-media-modal__content > * {
    width: 100%;
  }

  .product-media-modal__content > * + * {
    margin-top: 2rem;
  }

  .product-media-modal__toggle {
    right: 5rem;
    top: 2.2rem;
  }
}

@media screen and (min-width: 990px) {
  .product-media-modal__content {
    padding: 2rem 11rem;
  }

  .product-media-modal__content > * + * {
    margin-top: 1.5rem;
  }

  .product-media-modal__content {
    padding-bottom: 1.5rem;
  }

  .product-media-modal__toggle {
    right: 5rem;
  }
}

.product-media-modal__toggle:hover {
  color: rgba(var(--color-foreground), 0.75);
}

.product-media-modal__toggle .icon {
  height: auto;
  margin: 0;
  width: 2.2rem;
}

.product-form__input[data-type="color"] .item {
  position: relative;
}

.product-form__input[data-type="color"] .item:hover:before {
  content: '';
  position: absolute;
  background: 0 0;
  border: 6px solid transparent;
  bottom: 110%;
  margin-bottom: -11px;
  left: calc(50% - 9px);
  border-top-color: #383838;
  transform: translateY(-3px);
}

.product-form__input[data-type="color"] .item:hover:after {
  content: attr(title);
  position: absolute;
  top: -44%;
  left: 50%;
  transform: translateX(-40%);
  padding: 5px 10px;
  z-index: 2;
  margin: -8px 0 0 -8px;
  align-items: center;
  font-size: 12px;
  background: #383838;
  color: #fff;
  white-space: nowrap;
}

.product-form__input[data-type="color"] .flickity-slider .item:hover:before {
  bottom: 70%;
}

.product-form__input[data-type="color"] .flickity-slider .item:hover:after {
  top: -3%;
}

/* Product popup */

.product-popup-modal {
  box-sizing: border-box;
  opacity: 0;
  position: fixed;
  visibility: hidden;
  z-index: -1;
  margin: 0 auto;
  top: 0;
  left: 0;
  overflow: auto;
  width: 100%;
  background: rgba(var(--color-foreground), 0.2);
  height: 100%;
}

.product-popup-modal[open] {
  opacity: 1;
  visibility: visible;
  z-index: 101;
}

.product-popup-modal__content {
  background-color: rgb(var(--color-background));
  overflow: auto;
  height: 80%;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5rem;
  width: 92%;
  position: absolute;
  top: 0;
  padding: 0 1.5rem 0 3rem;
}

@media screen and (min-width: 750px) {
  .product-popup-modal__content {
    padding-right: 1.5rem;
    margin-top: 10rem;
    width: 70%;
    padding: 0 3rem;
  }
}

.product-popup-modal__content img {
  max-width: 100%;
}

@media screen and (max-width: 749px) {
  .product-popup-modal__content table {
    display: block;
    max-width: fit-content;
    overflow-x: auto;
    white-space: nowrap;
    margin: 0;
  }
}

.product-popup-modal__opener {
  display: inline-block;
}

.product-popup-modal__button {
  font-size: 1.3rem;
  padding-right: 1.3rem;
  padding-left: 0;
  text-underline-offset: 0.3rem;
  text-decoration-thickness: 0.1rem;
  transition: text-decoration-thickness var(--duration-short) ease;
  color: rgb(var(--color-foreground));
  font-family: 'Schutz Condensed', sans-serif;
  text-transform: uppercase;
}

.product-popup-modal__button:hover {
  text-decoration-thickness: 0.2rem;
}

.low_stock {
  margin-bottom: 0;
}

.product-popup-modal__content-info {
  padding-right: 4.4rem;
}

.product-popup-modal__content-info > * {
  height: auto;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
}

.product-popup-modal__content-info > p {
  margin: 1.5rem auto;
}

.product-popup-modal a {
  color: rgb(var(--color-foreground));
}

.form-error {
  display: block;
  color: red;
  font-style: italic;
  font-family: Schutz Condensed;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: .8px;
  margin-top: 12px;
  text-transform: uppercase;
}

.variant-image-as-color .product-form__input[data-type="color"] label {
  width: 75px;
  height: 75px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.product-form__input[data-type="color"] input[type=radio]:checked + label {
  border: 2px solid #666;
}

@media screen and (max-width: 749px) {
  .product-popup-modal__content-info > * {
    max-height: 100%;
  }
}

.product-popup-modal__toggle {
  background-color: rgb(var(--color-background));
  border: 0.1rem solid rgba(var(--color-foreground), 0.1);
  border-radius: 50%;
  color: rgba(var(--color-foreground), 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: sticky;
  padding: 1.2rem;
  z-index: 2;
  top: 1.5rem;
  width: 4rem;
  margin: 0 0 0 auto;
}

.product-popup-modal__toggle:hover {
  color: rgba(var(--color-foreground), 0.75);
}

.product-popup-modal__toggle .icon {
  height: auto;
  margin: 0;
  width: 2.2rem;
}

/* Product Slider Images */
.product__media-nav .product__media-item {
  width: 20%;
}

.product__media-nav .product__media-item img {
  width: 100%;
  height: 100%;
  border: .1rem solid rgba(var(--color-foreground),.08);
}

.product__media-nav,
.product__media-thumb {
  padding: 0;
}

.product-with-thumb .flickity-button.previous,
.product-with-thumb .flickity-button.next {
  color: #696969;
  background: transparent;
  width: 35px;
  height: 35px;
}

.product-with-thumb .product-form__input .flickity-button:disabled,
.product-with-thumb .grouped-links .flickity-button:disabled {
  display: none;
}

@media screen and (max-width: 749px) {
  .product-with-thumb .product__media-wrapper {
    display: grid;
  }

  .product-with-thumb .product__media-col-nav {
    order: 2;
  }

  .product__info-container--sticky {
    padding-top: 20px;
  }
}

@media screen and (min-width: 750px) {
  .product__media-col-nav {
    position: relative;
    width: 100px;
    height: 90%;
    max-height: 445px;
    display: inline-block;
    vertical-align: top;
  }

  .product__media-nav {
    padding-top: 15px;
    position: static;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  .product__media-nav .product__media-item {
    display: block;
    padding-left: 0;
  }

  .product-with-thumb .product__media-item.grid__item {
    width: 100%;
    cursor: pointer;
    padding: 0;
    margin-bottom: 1rem;
  }

  .product__media-thumb {
    width: calc(100% - 110px);
    display: inline-block;
    vertical-align: top;
  }

  .product-with-thumb .product__media-nav .grid__item {
    position: relative!important;
    left: 0!important;
    right: 0!important;
  }

  .product-with-thumb .product__media-nav .flickity-slider {
    transform: none!important;
    overflow: visible!important;
    height: auto!important;
    cursor: auto;
  }

  .product-with-thumb .product__media-nav .flickity-viewport {
    transform: none!important;
    overflow: visible!important;
    height: auto!important;
  }

  .product-with-thumb .product__media-nav .flickity-button.previous {
    top: 0;
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
  }

  .product-with-thumb .product__media-nav .flickity-button.next {
    bottom: 0;
    left: 50%;
    top: 92%;
    transform: translateX(-50%) rotate(90deg);
  }

  .product-with-thumb .flickity-page-dots {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .product-with-thumb .product__media-nav .flickity-button.next {
    top: 102%;
  }
}

@media screen and (min-width: 750px) and (max-width: 1200px) {
  .product__media-col-nav {
    position: relative;
    width: 95px;
    height: 70%;
  }

  .product__media-thumb {
    width: calc(100% - 110px);
  }
}

@media screen and (min-width: 750px) and (max-width: 1024px) {
  .product__media-col-nav {
    display: none;
  }

  .product__media-thumb {
    width: 100%;
    display: block;
  }
}

.sales-progression {
  max-width: 37rem;
}

.sales-progression .meter {
  box-sizing: content-box;
  height: 17px;
  position: relative;
  margin-bottom: 12px;
  background: #f1f1f1;
  border: 2px solid #d7d7d7;
  border-radius: 25px;
}

.sales-progression .meter > span {
  display: block;
  height: 100%;
  border-radius: 20px 4px 4px 20px;
  background-color: #000;
  position: relative;
  overflow: hidden;
}

.sales-progression .link {
  font-size: 1.3rem;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.sales-progression .meter > span:after,
.sales-progression .animate > span > span {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
  z-index: 1;
  background-size: 50px 50px;
  animation: move 3s linear infinite;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}

#PopupModal-Confirmation-Size .product-popup-modal__content {
  margin-top: 25rem;
  height: auto;
}

#PopupModal-Confirmation-Size h2 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

#PopupModal-Confirmation-Size h3 {
  font-family: 'Schutz Condensed', sans-serif;
  text-align: center;
  margin-bottom: 40px;
  letter-spacing: 0.1rem;
}

#PopupModal-Confirmation-Size .button {
  padding: 10px;
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: .2rem;
  margin: 10px 0;
}

#PopupModal-Confirmation-Size .reselect {
  background-color: #F7F7F7;
  color: #000;
}

#PopupModal-Confirmation-Size .proceed {
  background-color: #000;
  color: #fff;    
}

#PopupModal-Confirmation-Size .grid {
  margin-bottom: 3rem;
}

@media screen and (max-width: 749px) {
  #PopupModal-Confirmation-Size .product-popup-modal__content {
    padding: 0 1.5rem;
  }
}

@media screen and (min-width: 750px) {
  #PopupModal-Confirmation-Size .product-popup-modal__content {
    width: 670px;
  }
  
  #PopupModal-Confirmation-Size .grid {
    flex-wrap: nowrap;
  }

  #PopupModal-Confirmation-Size .reselect {
    margin-right: 20px;
  }
}

/* Size Recommendation */

.size_recommendation_container {
  padding: 2rem;
  border: 2px solid #000;
  max-width: 38rem;
}

.size_recommendation_container .size_recommendation_title {
  display: flex;
  gap: 7px;
  align-items: center;
}

.size_recommendation_container .size_recommendation_title h3 {
  margin: 0;
  font-size: 14px;
}

.size_recommendation_container p {
  font-size: 14px;
  color: #606060;
}

.size_recommendation_container .slidercontainer {
  width: 100%;
}

.size_recommendation_container .slidercontainer .slider {
  -webkit-appearance: none;
  width: 100%;
  height: 1px;
  background: #000;
  outline: none;
}

.size_recommendation_container .slidercontainer .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 42px;
  height: 8px;
  border-radius: 16px;
  background: #000;
}

.size_recommendation_container .slidercontainer .slider::-moz-range-thumb {
  width: 42px;
  height: 8px;
  border-radius: 16px;
  background: #000;
}

.size_recommendation_container .slidercontainer .slider-texts {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 12px;
}