footer.footer {
  margin-top: 0;
}

main {
  background-color: #F9F9F9;
  min-height: 500px;
}

.sidebar-client-services {
  display: inline-block;
  vertical-align: top;
}

.client-services-content {
  width: 68%;
  display: inline-block;
  vertical-align: top;
}

.sidebar-client-services h1 {
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 1px;
  font-weight: 400;
}

.client-services__link {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: .8px;
  font-weight: 400;
  color: #000;
  text-decoration: none;
  margin-bottom: 12px;
  display: block;
}

.client-services__link.active,
.client-services__link:hover {
  text-decoration: underline;
}

.client-services-content.rte a {
  color: #000;
  text-decoration: none;
  word-break: break-word;
}

.client-services-content a:hover {
  text-decoration: underline;
}

.client-services-content summary {
  font-size: 15px;
}

.client-services-content .accordion__content {
  font-size: 12px;
  padding-top: 15px;
  margin-bottom: 3.5rem;
}

.client-services-content .accordion__content h3 {
  font-size: 14px;
  margin: 0;
  font-weight: 700;
  font-family: 'Schutz Condensed','sans-serif';
}

@media (max-width: 749px) {
  .sidebar-client-services,
  .client-services-content {
    width: 100%;
    display: block;
  }

  .client-services__link {
    text-decoration: underline;
  }

  .sidebar-client-services {
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #d7d7d7;
  }

  .client-services-content.rte a {
    text-decoration: underline;
  }
}

.field .error {
  color: #e5065f;
}

.form-error {
  display: block;
  color: red;
  font-style: italic;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: .8px;
  margin-top: 12px;
  text-transform: uppercase;
}