.shopify-section.spaced-section {
    margin-top: 0px;
}

.multicolumn h3 {
    text-align: center;
}

.multicolumn .multicolumn-card__info {
    padding-bottom: 0px;
}

.multicolumn .multicolumn-card__info h2 {
    margin-bottom: 0px;
}

.multicolumn .flickity-page-dots {
    z-index: 99;
}
  