.search__input.field__input {
  padding-right: 5rem;
}

.search__button .icon {
  height: 1.8rem;
  width: 1.8rem;
}

.no-more-products {
  display: none;
  font-size: 16px;
  text-align: center;
  padding: 10px 15px;
  background: #f5f5f5;
}

.load-more {
  margin-top: 50px;
}

.load-more__btn {
  text-align: center;
  margin: 0 auto;
  display: block;
  width: 185px;
  padding: 10px 15px;
  background: #f5f5f5;
  border: 1px solid #666;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 700;
}

.load-more__spinner {
  display: none;
  height: 35px;
  width: 35px;
  border: 5px solid #f5f5f5;
  border-top: 5px solid #3a3a3a;
  border-radius: 50%;
  margin: 0 auto;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Remove extra spacing for search inputs in Safari */
input::-webkit-search-decoration {
  -webkit-appearance: none;
}
