.product-recommendations {
  display: block;
}

.product-recommendations__heading {
  margin: 0;
  margin-bottom: 3rem;
}

div.scarab-recs {
  max-height: 500px;
}

div.scarab-recs .scarab-prev,
div.scarab-recs .scarab-next {
  z-index: 1;
}
