.gift-title {
  padding: 0 3rem;
}

.gift-title p {
  font-size: 19px;
}

.open-gift .gift-popup-modal__button {
  display: block;
  width: 100%;
  padding: 5px;
  text-align: center;
  font-weight: 700;
  background-color: #cdcdcd;
  text-decoration: none;
  letter-spacing: 0.1rem;
}

.gift-popup-modal {
  box-sizing: border-box;
  opacity: 0;
  position: fixed;
  visibility: hidden;
  z-index: -1;
  margin: 0 auto;
  top: 0;
  left: 0;
  overflow: auto;
  width: 100%;
  background: rgba(var(--color-foreground),.5);
  height: 100%;
}

.gift-popup-modal__content {
  background-color: rgb(var(--color-background));
  overflow: auto;
  max-height: 990px;
  margin: 0 auto;
  left: 50%;
  transform: translate(-50%);
  width: 92%;
  position: absolute;
  top: 0;
  padding: 0 1rem;
  overflow-y: overlay;
  border-radius: 2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 80%;
}

.gift-popup-modal__content-info > * {
  height: auto;
  margin: 0 auto;
  width: 100%;
  max-width: 40%;
  min-width: 150px;
}

.gift-popup-modal__content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  padding: 0 2rem;
}

@media screen and (min-width: 749px) {
  .gift-popup-modal__content {
    padding-right: 1rem;
  }
  
  .gift-popup-modal__content.small {
    width: 35%;
    min-width: 700px;
  }

  .gift-popup-modal__content.medium {
    width: 50%;
    min-width: 600px;
  }

  .gift-popup-modal__content.large {
    width: 70%;
  }
  
  .gift-popup-modal__content-info > * {
    max-width: 30%;
    width: 100%;
  }
}

.gift-popup-modal[open] {
  opacity: 1;
  visibility: visible;
  z-index: 3;
}

.gift-popup-modal__toggle {
  background-color: rgb(var(--color-background));
  border: 0.1rem solid rgba(var(--color-foreground),.1);
  border-radius: 50%;
  color: rgba(var(--color-foreground),.55);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: sticky;
  padding: 1.2rem;
  z-index: 2;
  top: 1rem;
  width: 4rem;
  margin: 0 0 0 auto;
}

.gift-popup-modal__toggle .icon {
  height: auto;
  margin: 0;
  width: 2.2rem;
}

.gift-popup-modal__content-info {
  justify-content: center;
  padding: 0 3rem;
}

.gift-popup-modal__content.small {
  scrollbar-width: none; /* Firefox */
}

.gift-popup-modal__content.small::-webkit-scrollbar {
  width: 0;
}


.product-gift.grid__item .product.featured-product {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-gift img {
  width: 100%;
  height: auto;
}

.product-gift .product__info-wrapper {
  padding: 0 0.5rem;
}

.product-form__input-gift {
  flex: 0 0 100%;
  padding: 0;
  margin: 0 0 1.8rem 0;
  max-width: 37rem;
  border: none;
}

fieldset.product-form__input-gift .form__label {
  margin-bottom: 0.2rem;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: .8px;
  text-transform: uppercase;
}

.product-form__input-gift .item {
  display: inline-block;
  margin: 0.7rem 0.5rem 0.2rem 0;
  font-size: 1.4rem;
}

.product-form__input-gift input[type='radio'] {
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
}

.product-form__input-gift input[type='radio'] + label {
  border: 0.1rem solid rgba(var(--color-foreground), 0.2);
  border-radius: 0;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  line-height: 1;
  text-align: center;
  transition: border var(--duration-short) ease;
  cursor: pointer;
  min-width: 35px;
  min-height: 35px;
}

.product-form__input-gift input[type='radio']:checked + label {
  background-color: rgb(var(--color-foreground));
  color: rgb(var(--color-background));
}

.product-form__input-gift:not([data-type='size']) input[type='radio'] + label {
  padding: 1rem;
}

.product-form__input-gift input[type='radio'] + label:hover {
  border: 0.1rem solid rgb(var(--color-foreground));
}

.product-form__input-gift input[type='radio']:disabled + label, 
.product-form__input-gift input[type='radio'].disabled + label {
  border-color: rgba(var(--color-foreground), 0.1);
  background-color: #EDEDED;
  color: #9b9b9b;
}

.product-form__input-gift input[type='radio'].disabled:checked + label, 
.product-form__input-gift input[type='radio']:disabled:checked + label {
  background-color: rgb(var(--color-foreground));
  color: rgb(var(--color-background));
}

.product-form__input-gift input[type='radio']:focus-visible + label {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)),
    0 0 0 0.5rem rgba(var(--color-foreground), 0.55);
}

.grid--4-col-tablet .product-gift.grid__item {
  max-width: 25%;
  margin: 0;
}

.product__title.center {
  text-align: center;
}

.product-gift .button {
  min-height: 3.5rem;    
  padding: 0.7rem;
  text-transform: uppercase;
}

.gift-title h2 {
  margin-top: 0;
}

@media screen and (max-width: 424px) {
  .product-gift .product__title {
    font-size: 20px;
  }

  .gift-title {
    font-size: 2.5rem;
  }

  .grid--2-col .product-gift.grid__item {
    margin: 0;
  }
}